venv
VoiceRecognition/DeepSpeech
VoiceRecognition/deepspeech-train-venv
VoiceRecognition/data
/.idea
/.vscode
FassihaRESTAPI/NLP/Response_generation/Deeplearning/data
FassihaRESTAPI/NLP/Response_generation/Deeplearning/logs
FassihaRESTAPI/NLP/Response_generation/Deeplearning/.ipynb_checkpoints
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class